#menu-manage {
  margin: 20px 0 10px;
  a {
    display: inline-block;
    padding: 10px 20px;
    &.selected { border-bottom: solid 3px; }
    &:hover {
      text-decoration: none;
      border-bottom: solid 3px;
    }
  } // a
  
} // #menu-manage

#page-manage-products-index {
  .img-product-cover {
    width: 50px;
  } // .img-product-cover  
} // #page-manage-products-index

#page-manage-products-edit {
  form {
    margin: 0 0 50px;
  }
  #productimages { margin: 0 0 50px; }
  .productimage img {
    width: 100%;
    margin: 0 0 5px 0;
  }
} // #page-manage-products-edit
