<div id='page-memberships-new'>
  <div class='container'>
    <%= form_with model: @membership, local: true do |form| %>
      <% if @membership.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

          <ul>
          <% @membership.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.submit "One-click purchase", class: 'btn btn-primary btn-large' %>

    <% end %>
  </div> <%# .container %>
</div> <%# #page-memberships-new %>

