<% if !product.new_record? %>
  <h3>Add a new photo</h3>
  <hr/>
  <%= form_with model: [:manage, Productimage.new], local: true, 
    id: 'form-productimage-new' do |f| %>
    <div class='form-group'>
      <%= f.file_field :productpicture, class: 'form-control-file' %>
      <%= f.hidden_field :product_id, value: product.id %>
      <div class='actions'>
        <%= f.submit "Add now", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>

<% if !product.new_record? && !product.productimages.empty? %>
  <h3>Images</h3>
  <div id='productimages'>
    <div class='row'>
      <% product.productimages.each do |productimage| %>
        <div class='productimage col-6 col-lg-3'>
          <%= image_tag productimage.productpicture_url(:square) %>
          <%= link_to 'Delete', manage_productimage_path(productimage), 
            method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div> <%# .productimage %>
      <% end %>
    </div> <%# .row %>
  </div> <%# #productimages %>
<% end %>

<% if !product.new_record? %>
  <h3>Edit product info</h3>
  <hr/>
<% end %>
<%= form_with model: [:manage, product], local: true, multipart: true do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class='row'>
    <div class="form-group col">
      <%= form.label :price %>
      <%= form.number_field :price, class: 'form-control' %>
    </div>

    <div class="form-group col">
      <%= form.label :discount_price %>
      <%= form.number_field :discount_price, class: 'form-control' %>
    </div>
  </div>

  <% if product.new_record? %>
    <%= form.fields_for :productimages do |p| %>
      <div class="form-group">
        <%= p.label "Images" %>
        <%= p.file_field :productpicture, :multiple => true, name: "productimages[productpicture][]", class: 'form-control-file' %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit(class: 'btn btn-primary') %>
    <%= link_to 'Cancel', manage_products_path, class: 'btn btn-light' %>
  </div>
<% end %>

