<div id='menu-manage'>
  <%= link_to "Product listing", manage_products_path, class: "#{@highlight_option_products}" %>
  <%= link_to "User listing", manage_users_path, class: "#{@highlight_option_users}" %>
</div> <%# #menu-manage %>

