<div id='page-manage-products-edit'>
  <div class='container'>
    <h1>Editing Product</h1>

    <%= render 'form', product: @product %>
  </div> <%# .container %>
</div> <%# #page-manage-products-edit %>
