<div id='page-manage-products-index'>
  <div class='container'>

    <%= render partial: 'manage/products/menu' %>
    
    <h1>Product listing for admin</h1>

    <table class='table table-bordered table-responsive-md'>
      <thead>
        <tr>
          <th>Thumbnail</th>
          <th>Name</th>
          <th>Price</th>
          <th>Discount price</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= image_tag product.cover_image, class: 'img-product-cover' %></td>
            <td><%= product.name %></td>
            <td>$<%= product.price %></td>
            <td>$<%= product.discount_price %></td>
            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_manage_product_path(product) %></td>
            <td><%= link_to 'Destroy', manage_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Product', new_manage_product_path, class: 'btn btn-primary' %>
  </div> <%# .container %>
</div> <%# #page-manage-products-index %>
