<div id='page-manage-products-new'>
  <div class='container'>

    <h1>New Product</h1>

    <%= render 'form', product: @product %>

  </div> <%# .container %>
</div> <%# #page-manage-products-new %>
