#page-sessions-new, #page-registrations-new {
  padding: 30px 0;
  #msg-welcome {
    margin: 0 0 25px 0;
  } // #msg-welcome
  @include media-breakpoint-up(sm) {
    .container { max-width: 500px; }
    form { margin-bottom: 20px; }
  } // sm
} // #page-sessions-new

