#page-products-index {
  .link-product {
    display: block;
    width: 100%;
    background: white;
    margin-bottom: 25px;
    border: solid 1px #eee;
    @include round-corner(5px);
    overflow: hidden;
    color: #333;
    text-decoration: none;
    img { width: 100%; }
    .product-content { padding: 10px; }
    .product-name { font-size: bold; }
    .product-price {
      color: #333;
      .discount-price { color: red; }
      .cross-out { text-decoration: line-through; }
    } // .product-price
  } // .link-product
} // #page-products-index

#page-products-show {
  #product-price {
    color: #333;
    #discount-price { color: red; }
    .cross-out { text-decoration: line-through; }
  } // .product-price
  #productpictures {
    img {
      @include round-corner(5px);
      margin-bottom: 25px;
      width: 100%;
    } // img
    #img-placeholder { width: 100%; }
  } // #productpictures

} // #page-products-show
