@mixin round-corner($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  -webkit-background-clip: padding-box;
} // @mixin round-corner

body {
  @include media-breakpoint-up(sm) { }
  @include media-breakpoint-up(md) { }
  @include media-breakpoint-up(lg) { }
  @include media-breakpoint-up(xl) { }
}

#user-nav { margin: 10px 0; }
