<div id='page-manage-users-index'>
  <div class='container'>
    <%= render partial: 'manage/products/menu' %>
    <h1>User listing for admin</h1>

    <table class='table table-bordered table-responsive-md'>
      <thead>
        <tr>
          <th>Email</th>
          <th>Admin?</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.admin_status_in_words %></td>
            <td>
              <% if user != current_user %>
                <%= link_to 'Toggle admin', toggle_admin_manage_user_path(user), id: "toggle_admin_status_#{user.id}" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div> <%# .container %>
</div> <%# #page-manage-users-index %>
