<div id='page-products-index'>
  <div class='container'>
    <h1>All products</h1>
    <div id='products'>
      <div class='row'>
        <% @products.each do |product| %>
          <div class='col-6 col-lg-3'>
            <%= link_to product, class: 'link-product' do %>
              <%= image_tag product.cover_image, 
                id: "img-cover-product-#{product.id}", class: 'img-cover-product' %>
              <div class='product-content'>
                <div class='product-name'><%= product.name %></div>
                <div class='product-price'>
                  <% if @show_discount %>
                      <span class='discount-price'>$<%= product.discount_price %></span>
                  <% end %>
                  <span class='regular-price <%= 'cross-out' if @show_discount %>'>
                    $<%= product.price %>
                  </span>
                </div> <%# .product-price %>
              </div> <%# .product-content %>
            <% end %> <%# .link-product %>
          </div><%# .col-6 %>
        <% end %>
      </div> <%# .row %>
    </div> <%# #products %>

  </div> <%# .container %>
</div> <%# #page-products-index %>
