<div id='page-products-show'>
  <div class='container'>
    <%= link_to 'Show all products', products_path, class: 'btn btn-light' %>

    <h1><%= @product.name %></h1>

    <div id='product-price'>
      <% if @show_discount %>
        <span id='discount-price'>$<%= @product.discount_price %></span>
      <% end %>

      <span id='regular-price' class="<%= 'cross-out' if @show_discount %>">$<%= @product.price %></span>
    </div> <%# #product-price %>

    <div id='productpictures'>
      <% unless @product.productimages.empty? %>
        <div class='row'>
          <% @product.productimages.each do |productimage| %>
            <div class='col-12 col-sm-6 col-lg-4'>
              <%= image_tag productimage.productpicture_url(:square) %>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= image_tag "/images/placeholder.jpg", id: 'img-placeholder' %>
      <% end %>
    </div> <%# #productpictures %>

  </div> <%# .container %>
</div> <%# #page-products-show %>
