<!DOCTYPE html>
<html>
  <head>
    <title>Dakota</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='notice-msg'>
      <div class='container'>
        <% if notice %> <p class='alert alert-info'><%= notice %></p> <% end %>
        <% if alert %> <p class='alert alert-danger'><%= alert %></p> <% end %>
      </div> <%# .container %>
    </div> <%# #notice-msg %>

    <% if user_signed_in? %>
      <div id='user-nav'>
        <div class='container'>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Dakota</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">

                <li class="nav-item active">
                  <%= link_to "Home", root_path, class: 'nav-link' %>
                </li>

                <% if current_user.is_admin %>
                  <li class="nav-item active">
                    <%= link_to "Manage panel", manage_products_path, class: 'nav-link' %>
                  </li>
                <% end %>

                <% if current_user.has_premium_membership %>
                  <li class="nav-item">
                    <span id='membership-status' class='badge badge-info'>Membership: Premium</span>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to 'Get premium membership', new_membership_path, class: 'btn btn-outline-success'  %>
                  </li>
                <% end %>

                <li class="nav-item">
                  <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                </li>


              </ul>
            </div>
          </nav>
        </div> <%# .container %>
      </div> <%# #user-nav %>

      
    <% end %>

    <%= yield %>

    
  </body>
</html>
